<div class="row work">
    <div class="eight columns description">
        {{{body}}}
    </div>
    <div class="four columns summary">
        <h6 class="title">{{title}}</h6>
        <h6 class="company">{{company}}</h6>
        <p class="timing">{{timeFrom}} - {{timeTo}}</p>
    </div>
</div>
